html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#app {
  display: flex;
}
.menu {
  width: 200px;
  height: 100%;
  border-right: 1px solid #eee;
  overflow: hidden;
  overflow-y: auto;
}

.page {
  flex: 1;
  overflow: auto;
}
